{{ define main }}
  <section class="hero is-medium">
    <div class="hero-body">
      <div class="container">
        <p class="title has-text-centered">
          {{ .site.title }}
        </p>
        <p class="subtitle has-text-centered">
          {{ .site.subtitle }}
        </p>
        <div class="columns">
          <div class="column is-offset-one-quarter is-half">
            <div class="content has-text-justified">
              {{ .content }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{{ end }}
